<h2>Methods that were not run</h2><table>
<tr><td>com.epam.tat.test.MainTest.incorrectLoginTestWithEmptyEmailFieldOrBoth<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Login form with both empty fields or empty email input</i></td></tr>
<tr><td>com.epam.tat.test.MainTest.loginTestAndCheck<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Login form with correct email and password, write new letter and check it</i></td></tr>
<tr><td>com.epam.tat.test.MainTest.incorrectLoginTest<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Login form with correct only email or password</i></td></tr>
<tr><td>com.epam.tat.test.MainTest.writeNewLetterWithoutAddress<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Write new letter only without address</i></td></tr>
<tr><td>com.epam.tat.test.MainTest.draftMailTest<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Save message into draft section</i></td></tr>
<tr><td>com.epam.tat.test.MainTest.loginTest<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Login form with correct email and password</i></td></tr>
</table>