<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:35:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainTest.preconditions()[pri:0, instance:com.epam.tat.test.MainTest@2c9f9fb0]">&gt;&gt;preconditions</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@2035630799</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:35:45</td>   <td>5798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.writeNewLetterWithoutTopicAndMessage()[pri:0, instance:com.epam.tat.test.MainTest@2c9f9fb0]">writeNewLetterWithoutTopicAndMessage</td> 
  <td>pool-2-thread-1@2035630799</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:36:04</td>   <td>24685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainTest.quitOut()[pri:0, instance:com.epam.tat.test.MainTest@2c9f9fb0]">&lt;&lt;quitOut</td> 
<td>&nbsp;</td>  <td>pool-2-thread-1@2035630799</td>   <td></td> </tr>
</table>
