<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:33:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.draftMailTest()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">draftMailTest</td> 
  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:33:10</td>   <td>7948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.incorrectLoginTest()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">incorrectLoginTest</td> 
  <td>pool-1-thread-2@1072843319</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:33:41</td>   <td>39676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.incorrectLoginTestWithEmptyEmailFieldOrBoth()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">incorrectLoginTestWithEmptyEmailFieldOrBoth</td> 
  <td>pool-1-thread-2@1072843319</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:33:55</td>   <td>53508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.loginTest()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">loginTest</td> 
  <td>pool-1-thread-2@1072843319</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:34:03</td>   <td>61280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.loginTestAndCheck()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">loginTestAndCheck</td> 
  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:32:55</td>   <td>-7076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainTest.preconditions()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&gt;&gt;preconditions</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:32:55</td>   <td>-7076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainTest.preconditions()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&gt;&gt;preconditions</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:33:29</td>   <td>27075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainTest.preconditions()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&gt;&gt;preconditions</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:33:49</td>   <td>47373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainTest.preconditions()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&gt;&gt;preconditions</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:33:57</td>   <td>54795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainTest.preconditions()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&gt;&gt;preconditions</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:34:13</td>   <td>71538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainTest.preconditions()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&gt;&gt;preconditions</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:34:37</td>   <td>94727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MainTest.preconditions()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&gt;&gt;preconditions</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:33:24</td>   <td>21986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainTest.quitOut()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&lt;&lt;quitOut</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:33:48</td>   <td>46361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainTest.quitOut()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&lt;&lt;quitOut</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:33:49</td>   <td>47547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainTest.quitOut()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&lt;&lt;quitOut</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:34:12</td>   <td>70400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainTest.quitOut()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&lt;&lt;quitOut</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:34:36</td>   <td>94031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainTest.quitOut()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&lt;&lt;quitOut</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:34:45</td>   <td>102831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainTest.quitOut()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&lt;&lt;quitOut</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:35:04</td>   <td>121719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MainTest.quitOut()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">&lt;&lt;quitOut</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:34:20</td>   <td>78368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.writeNewLetterWithoutAddress()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">writeNewLetterWithoutAddress</td> 
  <td>pool-1-thread-2@1072843319</td>   <td></td> </tr>
<tr bgcolor="6eb2ec">  <td>17/08/28 12:34:43</td>   <td>101597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MainTest.writeNewLetterWithoutTopicAndMessage()[pri:0, instance:com.epam.tat.test.MainTest@327471b5]">writeNewLetterWithoutTopicAndMessage</td> 
  <td>pool-1-thread-1@1616735357</td>   <td></td> </tr>
</table>
