<h2>Reporter output</h2><table><tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485716091107134.png target='blank' >6485716091107134.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485716032327276.png target='blank' >6485716032327276.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485717114603340.png target='blank' >6485717114603340.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485717076513416.png target='blank' >6485717076513416.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485718575590751.png target='blank' >6485718575590751.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485719009369487.png target='blank' >6485719009369487.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485720762274439.png target='blank' >6485720762274439.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485739587462874.png target='blank' >6485739587462874.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485742562572942.png target='blank' >6485742562572942.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485743638982866.png target='blank' >6485743638982866.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485744108651241.png target='blank' >6485744108651241.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485744438786573.png target='blank' >6485744438786573.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485744316770693.png target='blank' >6485744316770693.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485745290580263.png target='blank' >6485745290580263.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485745788922460.png target='blank' >6485745788922460.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485745638812659.png target='blank' >6485745638812659.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485746081784261.png target='blank' >6485746081784261.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485746676911563.png target='blank' >6485746676911563.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485761090938210.png target='blank' >6485761090938210.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485761980732445.png target='blank' >6485761980732445.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485762470371439.png target='blank' >6485762470371439.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485764491842700.png target='blank' >6485764491842700.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485765203423376.png target='blank' >6485765203423376.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485765580813698.png target='blank' >6485765580813698.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485778427242889.png target='blank' >6485778427242889.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485781069719266.png target='blank' >6485781069719266.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485781102462649.png target='blank' >6485781102462649.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485781595825234.png target='blank' >6485781595825234.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485782037592133.png target='blank' >6485782037592133.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485782590006992.png target='blank' >6485782590006992.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485782990066009.png target='blank' >6485782990066009.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485783235420930.png target='blank' >6485783235420930.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485783409455446.png target='blank' >6485783409455446.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485789141831260.png target='blank' >6485789141831260.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485790359665317.png target='blank' >6485790359665317.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485792073619477.png target='blank' >6485792073619477.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485792269193251.png target='blank' >6485792269193251.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485793030137683.png target='blank' >6485793030137683.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485793182715907.png target='blank' >6485793182715907.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485793461560897.png target='blank' >6485793461560897.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485793728190358.png target='blank' >6485793728190358.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485801451695330.png target='blank' >6485801451695330.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485804879209352.png target='blank' >6485804879209352.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485805360890976.png target='blank' >6485805360890976.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485805808737414.png target='blank' >6485805808737414.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485812501874197.png target='blank' >6485812501874197.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485813377380914.png target='blank' >6485813377380914.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485816515261500.png target='blank' >6485816515261500.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485816861402664.png target='blank' >6485816861402664.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485817195852177.png target='blank' >6485817195852177.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485817333626277.png target='blank' >6485817333626277.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485821013038337.png target='blank' >6485821013038337.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485866201586171.png target='blank' >6485866201586171.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485866624155222.png target='blank' >6485866624155222.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485867501169849.png target='blank' >6485867501169849.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485873488110557.png target='blank' >6485873488110557.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485874141795337.png target='blank' >6485874141795337.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485877213775186.png target='blank' >6485877213775186.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485877567935732.png target='blank' >6485877567935732.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485877843814082.png target='blank' >6485877843814082.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485877961616279.png target='blank' >6485877961616279.png</a></td></tr>
<tr><td><a href=D:\epam\Java\projects\l8\logs\screenshots\6485881495723667.png target='blank' >6485881495723667.png</a></td></tr>
</table>